<%# views/partials/_yogas.ejs %>

<div class="space-y-6">
  <% yogas.forEach(yoga => { %>
    <div class="yoga-card p-2">
      <h2 class="text-xl font-bold text-[#724121] mb-2"><%= yoga.name %></h2>
      <% yoga.content.detail.forEach(line => { %>
        <p class="text-[#724121] leading-relaxed mb-2"><%= line %></p>
      <% }) %>
    </div>
  <% }) %>
</div>
